*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}
.diff-bg{
    background-color: #F8FBFE;
    z-index: -100;
    padding: 45px 150px ;
}
body{
    background: white;
    padding: 0px;
    margin: 0px;
    /* padding: 45px 150px ; */
}
.navbar{
    /* background-color: red; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    height: 80px;
    width: 100%;
    z-index: 10;
}

.nav-items{
    /* background-color:blue; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 40%;
    margin-left: 100px;
    margin-right:auto;
}

.nav-item{
    /* font-family: Helvetica; */
    font-size: 0.9em;
    color:#566771;
    padding: 0px 15px;
    width: 100px;
    text-align: center;
    transition: all .2s ease;
}

.nav-item:hover{
    color: #2E305D;
    font-weight: bold;
}


.request-demo-btn{
    margin-left: auto;
    margin-right: 50px;
    background-color:white;
    border: none;
    box-shadow: 3px 2px 5px rgb(187, 187, 187) ;
    padding: 18px 21px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    color:#350f6b;
    font-weight: bold;
    width: 180px;
    transition: all 0.2s ease-in-out;
}
.request-demo-btn:hover{
    background-color: white;
    box-shadow: 3px 2px 5px rgb(102, 102, 102) ;
}
.request-demo-btn:active{
    box-shadow: 3px 2px 5px rgb(187, 187, 187) ;
}

.request-demo-btn > p{
    /* font-family: Helvetica; */
}
.request-demo-btn > svg{
    margin-left: 10px;
}

.first-main-div{
    margin-top: 100px;
    width : 100%;
    height : 70vh;
    position: relative;
    /* background-color: red; */
    z-index: 10;
    
}

.first-main-heading{
    /* font-family: Helvetica; */
    font-size: 4.5em;
    width : 40vw;
    color : #212353;
}
.first-main-img{
    position: absolute;
    bottom: 5%;
    right: -100px;
    width : 75%;
    z-index: -90;
}
.first-main-para{
    padding: 43px 40px;
    color : #4B5D68;
    /* letter-spacing: 1px; */
    word-spacing: 1.2px;
    /* font-family: "Helvetica"; */
    line-height: 27px;
    width : 35%;
    font-size : 0.9em;
    font-weight: 500;
    word-break: inherit;
}

.learn-more-btn{
    background-color: #9C69E2;
    /* font-family: Helvetica; */
    font-size: 1em;
    color :white;
    padding: 17px 30px;
    border: none;
    border-radius: 30px;
    margin-left:45px;
    transition: all 0.2s ease-in-out;
}
.learn-more-btn:hover{
    background-color: #9b69e2e0;
    /* transform: scale(1.001); */
}
.learn-more-btn:active{
    background-color: #9C69E2;
}


.second-main-div{
    margin: 0px auto 0px auto;
    width : 80%;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 45px 150px ; */
}

.second-main-sub-div{
    background-color: #FDE8F4;
    height: 75%;
    width: 90%;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.second-div-img{
    width: 50%;
    padding : 30px;
}

.second-div-right{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.second-div-head{
    /* font-family: Helvetica; */
    color : #212353;
    font-size: 2.4em;
    width: 90%;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.second-div-para{
    color : #566671;
    font-size: 1em;
    width: 80%;
    word-spacing: 2.5px;
    line-height: 1.8em;
    font-weight: 500;
}

.third-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: yellow; */
}
.third-first{
    text-align: center;
    /* background-color:red; */
    width: 50%;
    margin-bottom: 50px;
}
.third-first > h2{
    width: 100% !important;
}
.third-first > p{
    width: 100% !important;
}
.third-second{
    margin-top: 4%;
    width: auto;
    transform: translate(5%, 0);
    height: 100vh;
    margin-left: auto ;
    margin-right: auto ;
    /* background-color: yellow; */
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-gap: 60px;
    grid-template-rows: 300px 300px;
    grid-template-columns: 430px 430px;
}

.feature-one{
    width: 375px;
    height: 300px;
    background: url("./assets/rec1.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;

}
.ftr-head{
    width: 70% !important;
    padding-left: 20%;
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 20px;
}

.ftr-para{
    width: 70% !important;
    padding-left: 20%;
    font-size: 0.8em;
    color: #4B5D68;
    line-height: 1.5;
    word-wrap: break;
    word-spacing: 2px;
    /* background-color: red; */
    height: 40%;
    text-overflow: ellipsis;
    overflow-y: hidden;
}

.ftr-img{
    position: absolute;
    width: 50%;
    height: 50%;
    left: -20%;
    top: 25%;
}
.ftr-learn-more{
    margin-top: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
}
.ftr-arrow{
    width: 15px;
    margin-left: 6px;
}
.feature-two{
    width: 375px;
    height: 300px;
    background: url("./assets/rec2.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-three{
    width: 375px;
    height: 300px;
    background: url("./assets/rec3.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-four{
    width: 375px;
    height: 300px;
    background: url("./assets/rec4.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line{
    margin-top: 4%;
    width:100%;
    height: 2px;
    background-color: #9b69e24f;
}

.fifth-main-div{
    padding: 40px 0px;
    width: 70vw;
    /* padding: 45px 150px ; */
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    /* border-top: 2px solid #9b69e24f; */
}

.fifth-sub-first-div{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* background-color: red; */
}

.fifth-first-1{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: Helvetica;
    width : 40vw;
    height: 30%;
}

.fifth-first-1 > h3{
    color : #212353;
    font-size: 2.4em;
    padding: 20px 0px;
    /* font-weight: 700; */
}

.fifth-first-1 > h4{
    color : #4B5D68;
    padding: 10px 0px;
    font-weight: 500;
    font-size: 1em;
}

.fifth-first-2{
    margin-left: auto;
    width: 440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: #4B5D68; */
    justify-content: space-between;
}

.fifth-first-2 .learn-more-btn{
    background-color: #F063B8 !important;
}
.fifth-first-2 .learn-more-btn:hover{
    background-color: #e937a2 !important;
}
.fifth-first-2 .learn-more-btn:active{
    background-color: #F063B8 !important;
}


.fifth-sub-second-div{
    margin-top: 9%;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    align-items: top;
    color : #212353;
    /* justify-content:space-around; */
    /* background-color: red; */
}

.fifth-address-main-div{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    /* background-color: red; */
    font-size: 0.9em;
}
.address-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.address-head > h3{
    font-size: 1.2em;
}

.fifth-address-main-div p:nth-child(2){
    font-size: 0.9em;
    font-weight: bold;
    line-height : 28px;
}
.fifth-address-main-div p:nth-child(3){
    margin-top: 30px;
    font-size: 0.9em;
    line-height : 28px;
}
.about-div{
    margin: 0px auto 0px 240px;
}
.about-div > h3{
    margin-top: 14px;
    margin-top: 14px;
    font-size: 1em;
}

.about-div ul{
    list-style: none;
    line-height: 35px;
    margin-top: 28px;
    font-size: 0.8em;
}
.help-div{
    margin: 0px auto;
}
.help-div > h3{
    margin-top: 14px;
    font-size: 1em;
}
.help-div ul{
    list-style: none;
    line-height: 35px;
    margin-top: 28px;
    font-size: 0.8em;
}
.social-media-div{
    margin: 0px auto;
}

.social-media-div > h3{
    margin-top: 14px;
    font-size: 1em;
    margin-bottom: 30px;
}

.social-media-div img{
    margin-right: 5px;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
}

.social-media-div a:nth-child(2) img:hover{
    background-color: rgb(14, 101, 214);
}
.social-media-div a:nth-child(3) img:hover{
    background-color: rgb(1, 155, 226);
}
.social-media-div a:nth-child(4) img:hover{
    background-image: linear-gradient(to bottom,#634FC7,#AB369F, #F76B36, #FFD277);
}


.fifth-sub-second-div  a{
    text-decoration: none;
    color: #212353 ;
}


.fifth-sub-third-div{
    margin-top: 9%;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96%;
}

/* .fifth-sub-third-div > img{

} */

.copyright-div{
    font-family: Avenir;
    letter-spacing: 1%;
    font-size: 12px;
    line-height: 21.6px;
    color: #212353;
}

.fourth-main-div{
    margin: 2% auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100vh;
}

.fourth-sub{
    background-color: #9C69E2 ;
    width: 85%;
    height: 85%;
    border-radius: 50px;
}
.fourth-sub > h2{
    padding: 90px 50px 20px 87px;
    color: white;
    font-size: 2em;
    /* background-color: blue; */
}

.carousel-container{
    width: 86%;
    min-width: 800px;
    margin: 20px auto 5px 80px;
    /* background-color: red; */
    height: 55%;
    white-space: nowrap;
    overflow-x: hidden;
    /* overflow-x: hidden; */

}

.card{
    display: inline-block;
    padding: 35px 10px;
    background-color: white;
    width: 500px;
    height: 260px;
    margin: 32px 50px auto 0px;
    border-radius: 20px;
    border: 1px solid #9C69E2;
    font-size: 18px;
    box-shadow: 0px 13px 0px rgb(138,86,219) ;
    transition: all 0.2s ease-in-out;
}

.card-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(29, 29, 29);
}

.card-head img{
    width: 84px;
    height: 84px;
    border-radius: 42px;
    margin: 0px 30px;
}

.card-head h3{
    font-weight: 600;
    padding:2px 0px;
    font-size: 1em;

}

.card a{
    color: #9C69E2;
    font-size: 0.8em;
    padding: 5px 0px;
    text-decoration: none;
    font-weight: bold;
}


.card p{
    width: 65%;
    height: 55%;
    /* white-space: wrap; */
    font-size: 0.8em;
    margin-left: 145px;
    word-wrap: break-word;
    word-break: normal;
    text-overflow: ellipsis;
    color: rgb(113, 113, 113);
    white-space:normal !important;
    line-height: 25px;
    /* background-color: yellow; */
    /* width: calc(100% - 120px); */
}

.carousel-controllers{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
}

.right-btn{
    background: url("./assets/right-arrow.png");
    background-position: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
    /* padding: 0px 30px; */
    border: none;
    opacity: 0.5;
    transition: all 0.1s ease-in-out;
    /* background-color: red; */
    
}
.right-btn:hover{
    opacity: 1;
    transform: scale(1.3, 1.2);
}

.left-btn{
    padding: 0px 25px;
    background: url("./assets/left-arrow.png");
    background-position: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
    border: none;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    /* background-color: red; */
}
.left-btn:hover{
    transform: scale(1.3, 1.2);
    opacity: 1;
}

.carousel-footer{
    /* background-color: #212353; */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:83%;
    margin: 1% auto;
}

.carousel-footer > div:nth-child(2){
    /* width: 70%; */
    /* background-color: red; */
}

::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-track {
    background: #272727;
}
::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: rgb(119, 119, 119);
}

.carousel-circles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70px;
}

.circle{
    width: 7px ;
    height: 7px;
    border-radius: 4px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.circle-selected{
    background-color: #F063B8 !important;
    transform: scale(1.3);
}

.hover{
    transform: scale(1.05);
    margin-left: 20px;
}

/* dark - mode */

.dark-mode-btn{
    background : url("./assets/half-moon.png");
    background-position: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: none;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 150;
    transition: all 0.2s ease-in-out;
    /* background-color: black; */
}

/* .inactive{
    background : url("./assets/half-moon.png") !important;
} */

.active{
    background : url("./assets/sun.png") !important;
}

.dark-mode-btn:hover{
    transform: scale(1.05);
}

button{
    cursor: pointer;
}

.dark{
    background-color: rgb(26, 26, 26) !important;
    color: rgb(250, 250, 250) !important;
}
.dark h3{
    color: rgb(238, 238, 238) !important;
}
.dark h4{
    color: rgb(238, 238, 238) !important;
}
.dark a{
    color: rgb(238, 238, 238) !important;
    
}
.dark h2{
    color: rgb(238, 238, 238) !important;
    
}
.dark h1{
    color: rgb(238, 238, 238) !important;

}
.dark p{
    color: rgb(202, 202, 202) !important;

}
.dark .social-media-div a:nth-child(2) img{
    background-color: rgb(14, 101, 214);
}
.dark .social-media-div a:nth-child(3) img{
    background-color: rgb(1, 155, 226);
}
.dark .social-media-div a:nth-child(4) img{
    background-image: linear-gradient(to bottom,#634FC7,#AB369F, #F76B36, #FFD277);
}

.dark .line{
    background-color:rgba(255, 255, 255, 0.501);
}
.dark button p{
    color: black !important;
}
.dark div{
    background-color: rgb(26, 26, 26);
    color: rgb(238, 238, 238);
}
.dark .circle{
    background-color: white;
}